.containerPrincipal{
    height: 580px;
    background-image: image('/images/revistas.jpg');
}

    form.formularioBuscador{
        padding-top: 8%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 44px;
    }

    div.divBuscador{
        display:flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
    }

    .etq_buscador{
        -webkit-box-align: center;
        display: flex ;
        align-items: center;
        height: 44px ;
        margin: 0px ;
        white-space: nowrap ;
    }
        h2.Buscar{
            display:flex;
            font-family: 'Times New Roman', Times, serif;
            font-stretch: ultra-condensed;
            font-size: 30px;
            font-weight: 700;
        }

        .caja_buscador{
            -webkit-box-pack: center ;
            -webkit-box-align: center ;
            display: flex ;  
            flex-direction: row;        
            justify-content: center ;
            align-items: center ;
            width: 400%;
        } 

        .div_caja_buscador{
            display: flex;
            flex-direction: row;
            width: 400px;
        }

            input.input_buscador{
                display: flex;
                font-size:17px;
                line-height: 20px;
                font-weight: 300;
                background: none;
                border-top: 0px;
                border-right: 0px;
                border-left: 0px;
                border-bottom: 2px solid black;
                color: rgb(34, 34, 34) ;
                margin:0px ;
                padding:11px;
                width: 100%;
                text-overflow: ellipsis;
            }

                .input_buscador:focus-visible{
                    outline: none;
                }

                .bnt_buscador{
                    display:flex;
                    flex-direction: row;
                    align-items: flex-end;
                }