div.divTenden{
     border-top: none;
    border-left: none;
    border-right: none;
    border-color: red;
}

h3.tituloTendencias{
    font-size: 50px;
    font-family: "GT Walsheim Pro";
    letter-spacing: 7px;
    margin: 6px;
   
}

.ant-collapse-icon-position-left{
    width: 700px;
    height: 60px;
    margin-left: 10px;
}

p.nombreProductos{
    font-family: "GT Walsheim Pro";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    margin-top: 20px;
    line-height: 16px;
    color: #373738;
}

hr{
    width: 100px;
}

button.agregar{
    background: none;
    outline: none;
    padding: 7px; 
    border-top: none;
    border-left: none;
    border-right: none;
}

button.btnC{
    border: none;
    background: none;
    outline: none;
    font-size: 19px;
    letter-spacing: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 15px
}