.fondo{
    position: relative;
    margin-top: -170px;
    min-height: 990px;
    background-image: url('../../imagenesPrueba/modelo3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

