@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

div.divNovedades{  
    margin-top: 25%;
    min-height: 570px;
    background-color: #f0f3f4; 
}

.line{
    display: flex;
    width:435px;
    height: 10px;
    background-color: rgb(184, 3, 3);
}
.novedades{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100px;
    
}

    h1.tituloNovedad{
        display:flex;
        align-items: center;
        margin-right: 30px;
        font-family: 'Lato', sans-serif, sans-serif;
        text-align: start;
        font-style: inherit;
        font-size: 140px;
        font-weight: 700;
        color: rgb(10, 9, 9);
        line-height: 15px;
    }
    
    div.carousel{
        display: flex;
        justify-content: center;
        margin-top: 25px;
    }
    /* #e6d690 */
    img.imagenCarousel{
        display: flex;
        align-items: flex-end;
        height: 790px;
    }