/*
 ------- Nav css File
*/


    div.App-header { 
        display: flex;
        justify-content: space-between;
        font-size: calc(10px + 2vmin);   
        height: 3%;
        justify-content: baseline;
        background-color: black;
    }
    

        div.header_menu_drch{
            display: flex;
            justify-content: baseline;
            align-items: self-start;
            z-index: 1;
            
        }

        div.header_menu_izq{
            display: flex;
            justify-content: flex-end;
            margin-right: 15px;
            z-index: 1;
           
        }
            .Lista_nav{    
                display: flex;
                flex-direction: row;
                list-style-type: none; 
                margin-top: 17px;     
            }

            .imagenLogo{
                height: 55px;
                margin-left: 10px;
                margin-top: 17px;
            }

                li{
                    transition: hover 0.2s linear;
                    cursor: pointer;
                    padding-top: 3px;
                }

                /* li.menu{
                    margin-left: 35px;
                    margin-top: 10px;  
                    text-align: start;
                    justify-content: baseline;
                    transition: hover 0.4s linear;
                } 
                
                .div_items:hover,
                li:hover > a box-icon {
                    color: #fff;
                    text-decoration-line: none; 
                }*/
